@{
    ViewData["Title"] = "Características";
}

<script type="text/javascript" src="~/js/site.js"></script>

<div class="div-ent"></div>
<div class="text-center">
    <h1 class="display-4 text-white" asp-action="Index">Información sobre el servidor</h1>
    <div class="btn">
        <a class="text-white" asp-action="Register">Registrarse</a>
    </div>
    <div class="btn">
        <a class="text-white" asp-action="features">Ver Updates</a>
    </div>
    <div class="btn">
        <a class="text-white" asp-action="Index">Términos y Condiciones</a>
    </div>
</div>
<div class="topnav">
    <div class="btn-navbar-info">
        <a id="btn1" class="active ">Porcentajes</a>
    </div>
    <div class="btn-navbar-info">
        <a id="btn2">Guía PvP</a>
    </div>
    <div class="btn-navbar-info">
        <a id="btn3">Guia PvM</a>
    </div>
    <div class="btn-navbar-info">
        <a id="btn4">Información variada</a>
    </div>
</div>
<div class="section-body-information">
    <div class="content-information">
        <div class="background-information1" id="index1">
            <h1>Sorceres es un servidor Estilo Oficial...</h1>
        </div>
        <div class="background-information2 invisible" id="index2">
            <h1>Sorceres es un servidor Estilo Oficial...</h1>
        </div>
        <div class="content text-area text-info">
            <h2 class="text-blue-green">Información</h2>
            <p>
                La experiencia está ajustada para que el subir de nivel sea fácil como debe ser un<br /> servidor privado hasta cierto punto.
                Así el usuario podrá disfrutar de todas las atracciones de los servidores oficiales<br /> sin necesidad de Pay to Win.
                No manejamos rates ampliamos todo por mapa caída de yang, drop y exp<br /> a un buen nivel donde subir
                de nivel se hace fácil hasta cierto punto.<br />
                <h2 class="text-blue-green">Información</h2>
        </div>
    </div>

</div>
