@{
    ViewData["Title"] = "Home Page";
}
<div class="div-ent"></div>
<div class="text-center">
    <img src="~/img/Aion_logo_FINAL.png" />
    <h1 class="display-4 text-white">ASCIENTE A LA VICTORIA</h1>
    <a class="btn-download-now" asp-action="Index"></a>.</p>
    <div class="btn">
        <a class="text-white" asp-action="Register">Registrarse</a>
    </div>
    <div class="btn">
        <a class="text-white" asp-action="features">Ver Updates</a>
    </div>
    <div class="btn">
        <a class="text-white">Términos y Condiciones</a>
    </div>
</div>

<div class="div-ent border-bottom-dark-with-shadow"></div>
<div class="content-announce1">
    <div class="content text-area">
        <h1>Sorceres es un servidor al Estilo Oficial con las nuevas actualizaciones...</h1>
        <p>
            La experiencia está ajustada para que el subir de nivel sea fácil como debe ser un<br /> servidor privado hasta cierto punto.
            Así el usuario podrá disfrutar de todas las atracciones de los servidores oficiales<br /> sin necesidad de Pay to Win.
            No manejamos rates ampliamos todo por mapa caída de yang, drop y exp<br /> a un buen nivel donde subir
            de nivel se hace fácil hasta cierto punto.<br />
            <div class="btn">
                <a class="text-white">Conocer más sobre...</a>
            </div>
    </div>

</div>

<div class="content-announce2">
    <div class="content text-area">
        <h1>Únete a nuestra comunidad en Sorcerers</h1>
        <p>
            Cada día somos más integrantes.<br />
    </div>
    <div class="content video">
        <iframe width="400" height="315" src="https://www.youtube.com/embed/NMg2__ZbA7c" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>